.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    /* width: max(10%,80px); */
    width: 100px;
}
.navbar .profile{
    width: 70px;
    height: 70;
}